@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background-image: linear-gradient(to bottom, #885DFA, #ED5CFA);
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem {
        float: left;
        width: 30%;
        height: 100%;
        background-size: cover;
    }
    section#login > div#formulario {
        float: right;
        width: 70%;
    }
    div#formulario > h1 {
        font-size: 2em
    }

   div#formulario > p {
        font-size: 1.2em
    }

    form {
        text-align: center;
    }
}

@media screen and (min-width: 992px){
    body {
        background-image: linear-gradient(to bottom, #885DFA, 
        #ED5CFA);
    }

    section#login {
        width: 80vw;
    }

    section#login > div#imagem {
        float: right;
        width: 30%;
        height: 100%;
        background-size: cover;
    }

    section#login > div#formulario {
        float: left;
        width: 70%;
    }

    div#formulario > h1 {
        font-size: 2em
    }

    section#login > div#formulario > p {
        font-size: 1.2em
    }

    form {
        text-align: center;
    }

    form > input[type=submit] {
        width: 50%;
        margin: auto;
        text-align: center;
    }
    form > a {
        display: block;
        width: 50%;
    }

    section#login > div#formulario > form > a {
        margin: 8px auto;
    }
    
    main {
        max-width: 1500px;
    }
}