@charset "UTF-8";

/*
CORES A SEREM USADAS: 
#885DFA - ROXO PASTEL
#5C66FA - AZUL-ARROXEADO PASTEL
#ED5CFA - ROSA PASTEL
*/


* {
    padding: 0px;
    margin: 0px;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: #5C66FA;
}


main {
    position: relative;
    width: 100vw;
    height: 100vh;
}


section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: white;
    width: 250px;
    height: 515px;

    border-radius: 25px;
    box-sizing: border-box;

    margin: 0 auto;
    overflow: hidden;   
    
    transition: width .5s, heigth .5s;
    transition-timing-function: ease;
}
section#login > div#imagem {
    display: block;
    background-image: url(../imagens/tela-login.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    width: 250px;
    height: 200px;
}

#login > #formulario {
    display: block;
}


#formulario > h1 {
    color: #ED5CFA;
    text-align: center;
    padding-top: 10px;
}

#formulario > p {
    font-size: 0.8em;
    text-align: center;
    text-wrap: balance;
    line-height: 1.5em;

    padding: 10px;
}

form#iform {
    padding: 10px;
    font-size: 0.8em;
}

form > input[type=submit] {
    display: block;
    width: 100%;

    background-color: #885DFA;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 5px;

    font-weight: bold;
}

form > input[type=submit]:hover {
    background-color: #6142b6;
}

form .campo {
    margin: 8px 0px;
    padding: 2px;
    border-radius: 3px;

    background-color: #9d7ef3;
    color: white;

    font-weight: bold;

    
}
form .botao {
    display: block;
    text-align: center;
    margin: 8px 0px;

    border: 2px solid #885DFA;
    border-radius: 5px;
    padding: 5px;
}

form a {
    color: #885DFA;
    text-decoration: none;
    font-weight: bold;
}

form .botao:hover {
    background-color: #ae91ff;
    color: white;
}

.material-symbols-outlined {
    margin-top: 6px;
}